<div id="detail-fields-stream">
  <div id="history-image-title-stream" class="mt-4 text-xl font-bold">
    <% if @history_image.title %>
      <%= link_to(edit_car_car_maintenance_history_image_path(@car, @car_maintenance, @history_image, field: "title"), data: { turbo_stream: true }) do %>
        <%= @history_image.title %>
      <% end %>
    <% else %>
      <%= link_to(edit_car_car_maintenance_history_image_path(@car, @car_maintenance, @history_image, field: "title"), data: { turbo_stream: true }) do %>
        Tambah judul
      <% end %>
    <% end %>
  </div>

  <div id="history-image-description-stream" class="mt-4">
    <% if @history_image.description %>
      <%= link_to(edit_car_car_maintenance_history_image_path(@car, @car_maintenance, @history_image, field: "description"), data: { turbo_stream: true }) do %>
        <%= sanitize(@markdown.render(@history_image.description), tags: %w[p br strong em ul ol li blockquote code pre], attributes: []) %>
      <% end %>
    <% else %>
      <%= link_to(edit_car_car_maintenance_history_image_path(@car, @car_maintenance, @history_image, field: "description"), data: { turbo_stream: true }) do %>
        Tambah Deskripsi
      <% end %>
    <% end %>
  </div>

  <% if @history_image.token.blank? %>
    <%= button_to(share_car_car_maintenance_history_image_path(@car, @car_maintenance, @history_image), method: :post, class: "daisy-btn") do %>
      Share Foto
    <% end %>
  <% else %>
    <div class="mt-4 mb-2 flex items-center gap-x-2" data-controller="copy-clipboard">
      <div>
        <%= text_field_tag("token", shared_service_image_url(@history_image.token), readonly: true, class: "daisy-input w-64", data: { "copy-clipboard-target": "textfield" }) %>
      </div>
      <div>
        <a class="bg-[#1C1424] text-white px-2 py-2 rounded shadow text-sm" href="#" data-action="click->copy-clipboard#copy">
          <span data-copy-clipboard-target="indicator">Copy</span>
        </a>
      </div>
      <div>
        <%= link_to(shared_service_image_url(@history_image.token), target: "_blank") do %>
          <%= image_tag("show.svg", class: "w-8") %>
        <% end %>
      </div>
    </div>
    <div>
      <%= button_to(delete_share_car_car_maintenance_history_image_path(@car, @car_maintenance, @history_image), method: :delete, class: "daisy-btn") do %>
       Hapus Share
      <% end %>
    </div>
  <% end %>
</div>
