<div>
  <%= link_to(car_car_maintenances_path(@car), class: 'text-red-800') do %>
    &larr; <%= t('views.history_images.back') %>
  <% end %>
</div>

<div data-controller="upload" data-upload-info-url-value="<%= car_car_maintenance_path(@car, @car_maintenance, format: 'json') %>">
  <div class="mt-6">
    <div>
      <% if @history_images.size < 10 %>
        <%= form_tag(url: car_car_maintenance_history_images_path(@car, @car_maintenance), method: :post) do %>
          <%= link_to t('views.history_images.upload_photo'), '#', class: "upload-link", data: { action: "click->upload#triggerUpload" }, class: "rounded-md bg-red-800 text-white px-4 py-2 rounded-r-md hover:bg-red-700 font-medium" %>
          <%= file_field_tag(:image, multiple: true, data: {'upload-target': 'file', action: 'change->upload#upload'}, class: "hidden") %>
        <% end %>
      <% end %>
    </div>
    <div data-upload-target="progressList" class="mt-3">
    </div>
  </div>

  <div id="history-images-frame" class="mt-6 flex flex-wrap">
    <% @history_images.each do |history| %>
      <%= render(partial: 'history_images/image', locals: { history:, car: @car, car_maintenance: @car_maintenance }) %>
    <% end %>
  </div>
</div>
