<p style="color: green"><%= notice %></p>

<%= render "form", car_brand: @car_brand %>

<div>
  <%= link_to "Edit this car", edit_admin_car_brand_path(@car_brand) %> |
  <%= link_to "Back to cars", admin_car_brands_path %>

  <%= button_to "Destroy this car", admin_car_brand_path(@car_brand), method: :delete %>
</div>
