<%= form_with(model: [@car, @car_fueling]) do |f| %>
  <% if @car_fueling.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@car_fueling.errors.count, "error") %> prohibited this car fueling from being saved:</h2>

      <ul>
        <% @car_fueling.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <div>Filled At</div>
    <div><%= f.date_select(:filled_at) %></div>
  </div>
  <div>
    <div>Volume</div>
    <div><%= f.text_field(:volume, class: "border border-red-800") %></div>
  </div>
  <div class="mt-2">
    <div>Distance since last refuel (km)</div>
    <div><%= f.text_field(:distance, class: "border border-red-800") %></div>
  </div>

  <div class="mt-2">
    <div>Ron Number</div>
    <div><%= f.select(:ron_number, [["Ron 90", 90], ["Ron 92", 92], ["Ron 95", 95], ["Ron 98", 98]], {}, class: "border border-red-800") %></div>
  </div>

  <div class="mt-2">
    <div>Location</div>
    <div><%= f.text_field(:location, class: "border border-red-800") %></div>
  </div>

  <div class="mt-2">
    <div>Price</div>
    <div><%= f.text_field(:price, class: "border border-red-800") %></div>
  </div>

  <div class="mt-2">
    <%= f.submit class: "px-2 py-2 bg-red-800 text-white rounded" %>
  </div>
<% end %>
