<div class="mt-2">
  <%= form.label :name %><br>
  <%= form.text_field :name, class:"daisy-input" %>
</div>

<div class="mt-2">
  <div><%= "Category" %></div>
  <div>
    <%= form.select(:category,
     [['Tire Shop', 'tire_shop'],['Ecu Shop', 'ecu_shop'],['Suspension', 'suspension'],['Other', 'other']], {}, class:"daisy-select") %>
  </div>
</div>

<div class="mt-2">
  <div><%= "Description" %></div>
  <div>
    <%= form.text_area(:description, class: 'daisy-textarea') %>
  </div>
</div>
