<div class="text-[#6D4AFF]">
  <div class="mt-2">
    <%= form.label :name, class: "text-white" %><br>
    <%= form.text_field :name, class:"border rounded" %>
  </div>

  <div class="mt-2">
    <div class="text-white"><%= "Category" %></div>
    <div>
      <%= form.select(:category,
      [['Tire Shop', 'tire_shop'],['Ecu Shop', 'ecu_shop'],['Suspension', 'suspension'],['Other', 'other']], {}, class:"border rounded") %>
    </div>
  </div>

  <div class="mt-2">
    <div class="text-white"><%= "Description" %></div>
    <div>
      <%= form.text_area(:description, class: 'border w-80 h-80 rounded') %>
    </div>
  </div>
</div>
