<h1 class="text-2xl">Your Car Shops</h1>
<div class="mt-4">
  <%= link_to "Create New Car Shop", new_car_shop_path, class: 'bg-[#1C1424] px-3 py-2 rounded text-white' %>
</div>

<div class="mt-4 hiddenx">
  <% if @car_shops.present? %>
    <table class="w-full border border-[#C7C7D1]">
      <thead>
        <tr class="py-2 bg-red-100 text-red-[#2A1C33]">
          <th class="py-2 px-4 text-center">Name</th>
          <th class="py-2 px-4 text-center">Category</th>
          <th class="py-2 px-4 text-center">Description</th>
          <th class="py-2 px-4 text-center">Action</th>
        </tr>
      </thead>
      <tbody>
        <% @car_shops.each do |shop| %>
          <tr class="">
            <td class="py-2 px-4 text-center"><%= shop.name %></td>
            <td class="px-4 py-3 text-center"><%= shop.category %></td>
            <td class="px-4 py-3 text-center"><%= shop.description %></td>
            <td class="px-4 py-3 text-center space-x-2 flex justify-center">
              <%= link_to edit_car_shop_path(shop), class: "flex items-center justify-center" do %>
                <%= image_tag "edit.svg", class: "w-4 h-4 inline" %>
              <% end %>
              <%= link_to car_shop_path(shop), class: "flex items-center justify-center" do %>
                <%= image_tag "show.svg", class: "w-4 h-4 inline" %>
              <% end %>
              <%= button_to car_shop_path(shop), method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "mt-1" do %>
                <%= image_tag "trash.svg", class: "w-5 h-5 inline" %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
      <p class="mt-4">No data to show</p>
    <% end %>
</div>
