<div>
  <%= link_to(car_shops_path, class: 'text-[#1C1424] underline') do %>
    &larr; <%= t('views.cars.back') %>
  <% end %>
</div>

<% content_for :title, "New Car Shop" %>
<div class="mt-5">
  <h1 class="text-xl">New Car Shop</h1>
  <%= form_with(model: @car_shop, url: car_shops_path, local: true) do |form| %>
    <%= render "form", car_shop: @car_shop, form: form %>
    <div class="mt-2">
      <%= form.submit 'Create' %>
    </div>
  <% end %>
</div>