<div>
  <%= link_to(car_shops_path, class: 'text-[#1C1424] underline font-bold') do %>
    &larr; <%= t('views.cars.back') %>
  <% end %>
</div>

<% content_for :title, "Bengkel baru" %>
<div class="mt-5">
  <h1 class="text-xl">Tambah bengkel baru</h1>
  <%= form_with(model: @car_shop, url: car_shops_path, local: true) do |form| %>
    <%= render "form", car_shop: @car_shop, form: form %>
    <div class="mt-2">
      <%= form.submit 'Create', class: 'daisy-btn' %>
    </div>
  <% end %>
</div>
