<div>
  <%= link_to(car_shops_path, class: 'text-red-800') do %>
    &larr; <%= t('views.cars.back') %>
  <% end %>
</div>

<h1>New Car Shop</h1>
<%= form_with model: @car_shop, url: car_shops_path, local: true do |form| %>
  <div class="mt-2">
    <%= form.label :name %>
    <%= form.text_field :name, class:"border border-red-800 rounded" %>
  </div>

  <div class="mt-2">
    <%= form.submit 'Create' %>
  </div>
<% end %>
