<div>
  <%= link_to(car_shops_path, class: 'text-white') do %>
    &larr; <%= t('views.cars.back') %>
  <% end %>
</div>

<% content_for :title, "New Car Shop" %>

<h1 class="text-2xl text-[#6D4AFF]">New Car Shop</h1>
<%= form_with(model: @car_shop, url: car_shops_path, local: true) do |form| %>
  <%= render "form", car_shop: @car_shop, form: form %>
  <div class="mt-2">
    <%= form.submit 'Create', class: "bg-[#6D4AFF] text-white px-4 py-2 rounded-md hover:bg-[#5b3ce0] transition"%>
  </div>
<% end %>
<br>
