<div>
  <%= link_to(car_shops_path, class: 'text-white') do %>
    &larr; <%= t('views.cars.back') %>
  <% end %>
</div>

<% content_for :title, "Showing car shop" %>

<div class="md:w-2/3 w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>

  <h1 class="font-bold text-4xl mt-2 mb-4 text-[#6D4AFF]">Showing car shop</h1>

  <p>
    <strong class="text-[#6D4AFF]">Car Shop Name: </strong>
    <span class="text-white"><%= @car_shop.name %></span>
  </p>

  <p>
    <strong class="text-[#6D4AFF]">Category: </strong>
    <span class="text-white"><%= @car_shop.category %></span>
  </p>
</div>
