<% if car_maintenance.errors.any? %>
  <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
    <h2><%= pluralize(car_maintenance.errors.count, "error") %> prohibited this car_maintenance from being saved:</h2>
    <ul class="list-disc ml-6">
      <% car_maintenance.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="mt-2">
  <div><%= t('views.item.car') %></div>
  <%= form.select :car_id,
              @cars.map { |c| [c.name, c.id] }, class: "border border-red-800 rounded text-sm" %>
</div>

<div class="mt-2">
  <div><%= t('views.car_maintenances.new.name') %></div>
  <%= form.select :maintenance_type,
        options_for_select([['Oil Change', 'oil_change'],['AC Repair', 'ac_repair'],['Tire Repair', 'tire_repair'],['Other', 'other']], car_maintenance.maintenance_type),{}, class: "border border-red-800 rounded text-sm" %>
</div>

<div class="mt-2">
  <div><%= t('views.car_maintenances.new.title') %></div>
  <%= form.text_field :title, class: "border border-red-800 rounded text-sm" %>
</div>

<div class="mt-2">
  <div><%= t('views.car_maintenances.new.time') %></div>
  <%= form.date_select :performed_at, {}, class: "border border-red-800 rounded text-sm" %>
</div>

<div class="mt-2">
  <div><%= t('views.car_maintenances.new.description') %></div>
  <%= form.text_area :description, class: "border border-red-800 w-80 h-80 rounded text-sm" %>
</div>

<div class="mt-2">
  <div><%= t('views.item.car_shop') %></div>
  <%= form.select :car_shop_id,
              @car_shops.map { |c| [c.name, c.id] },
              { include_blank: "- Pilih Bengkel -" }, class: "border border-red-800 rounded text-sm" %>
</div>
