<% content_for :title, "Admin Car maintenances" %>

<div class="w-full">
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-xl"> <%= t('views.car_maintenances.title') %></h1>
    <%= link_to t('views.car_maintenances.name'), new_admin_car_maintenance_path, class: "rounded-md px-3.5 py-2.5 bg-red-800 hover:bg-red-500 text-white block font-medium" %>
  </div>

  <div id="car_maintenances" class="min-w-full divide-y divide-gray-200 space-y-5 mt-4">
    <% if @car_maintenances.any? %>
        <table class="w-full border border-red-500">
          <thead>
            <tr class="py-2 bg-red-100 text-red-800">
              <th class="px-4 py-3 text-left"><%= t('views.car_maintenances.date') %></th>
              <th class="px-4 py-3">Title</th>
              <th class="px-4 py-3 text-center"><%= t('views.car_maintenances.type') %></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @car_maintenances.each do |car_maintenance| %>
              <tr>
                <td class="px-4 py-3"><%= car_maintenance.performed_at&.strftime('%d %b %Y') %></td>
                <th class="px-4 py-3 text-red-800"><%= car_maintenance.title %></th>
                <td class="px-4 py-3 text-center"><%= car_maintenance.maintenance_type&.gsub('_', ' ') || "-" %></td>
                <td class="text-center py-2 px-4 space-x-2 flex justify-center">
                <%= link_to edit_admin_car_maintenance_path(car_maintenance), class: "text-blue-600 hover:underline" do %>
                  <%= image_tag "edit.svg", class: "w-4 h-4 inline mt-1" %>
                <% end %>
                <%= link_to admin_car_maintenance_path(car_maintenance.id), class: "flex items-center justify-center" do %>
                  <%= image_tag "show.svg", class: "w-4 h-4 inline" %>
                <% end %>
                <%= button_to admin_car_maintenance_path(car_maintenance), method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "mt-1" do %>
                  <%= image_tag "trash.svg", class: "w-5 h-5 inline" %>
                <% end %>
              </td>
              </tr>
            <% end %>
          </tbody>
        </table>
    <% else %>
      <p class="text-center my-10">No car maintenances found.</p>
    <% end %>
  </div>

  <%= will_paginate(@car_maintenances) %>
</div>
