<div class="mb-4">
  <%= link_to admin_car_maintenances_path, class: "text-[#6D4AFF] hover:underline flex items-center gap-1" do %>
    <span class="text-lg">&larr;</span> <%= t('views.history_images.back') %>
  <% end %>
</div>

<% content_for :title, "New Car Maintenance" %>

<h1 class="text-2xl font-semibold text-white mb-6">
  <span class="text-[#6D4AFF]"><%= t('views.car_maintenances.new.head') %></span>
</h1>

<div class="p-5 border border-[#6D4AFF] rounded-xl shadow-sm bg-[#1A1A22]/50 backdrop-blur-md">
  <%= form_with model: @car_maintenance,
                url: admin_car_maintenances_path(@car_maintenance),
                local: true do |form| %>

    <%= render "form",
          car_maintenance: @car_maintenance,
          form: form %>

    <div class="mt-6">
      <%= form.submit t('views.cars.create'),
            class: "bg-[#6D4AFF] text-white px-5 py-2 rounded-lg
                    font-medium hover:bg-[#5A3EDF] transition-all shadow-sm" %>
    </div>
  <% end %>
</div>
