<div class="mt-2">
  <%= form.label :name %>
  <%= form.text_field :name, class:"border border-red-800 rounded" %>
</div>

<div class="mt-2">
  <div><%= "Category" %></div>
  <div>
    <%= form.select(:category,
      [['Tire Shop', 'tire_shop'],['Ecu Shop', 'ecu_shop'],['Suspension', 'suspension'],['Other', 'other']], {}, class:"border border-red-800 rounded") %>
  </div>
</div>

<div class="mt-2">
  <div><%= "Description" %></div>
  <div>
    <%= form.text_area(:description, class: 'border border-red-800 w-80 h-80 rounded') %>
  </div>
</div>

<div class="mt-2">
  <%= form.label :lat %>
  <%= form.text_field :lat, class:"border border-red-800 rounded" %>
</div>

<div class="mt-2">
  <%= form.label :lng %>
  <%= form.text_field :lng, class:"border border-red-800 rounded" %>
</div>

<div class="mt-2">
  <%= form.label :company_id, "Perusahaan", style: "display: block"%>
  <%= form.select :company_id,
              Company.all.map { |c| [c.name, c.id] },
              { include_blank: "- Pilih Perusahaan -" } %>
</div>

<div class="mt-2 text-sm text-gray-800">
  <%= form.label :approved_at %><br>

  <% if @car_shop.approved_at.present? %>
    <%= car_shop.approved_at.strftime("%d %B %Y %H:%M") %>
  <% else %>
    Pending
  <% end %>
</div>
