<div>
  <%= link_to(admin_car_shops_path, class: 'text-red-800') do %>
    &larr; <%= t('views.cars.back') %>
  <% end %>
</div>

<% content_for :title, "Editing Car Shop" %>

<h1 class="text-2xl mb-4">Edit Car Shop</h1>
<%= form_with(model: @car_shop, url: admin_car_shop_path(@car_shop), local: true) do |form| %>
  <%= render "form", car_shop: @car_shop, form: form %>
  <div class="mt-2">
    <%= form.submit 'Update' %>
  </div>
<% end %>

<br>
