<div>
  <%= link_to(admin_car_shops_path, class: 'text-red-800') do %>
    &larr; <%= t('views.cars.back') %>
  <% end %>
</div>

<h1>New Car Shop</h1>
<%= form_with(model: @car_shop, url: admin_car_shops_path, local: true) do |form| %>
  <%= render "form", car_shop: @car_shop, form: form %>
  <div class="mt-2">
    <%= form.submit 'Create' %>
  </div>
<% end %>
<br>
