  <div>
    <div><%= "Brand" %></div>
    <div class="mt-2">
      <%= form.select(:car_brand_id, CarBrand.all.map { |b| [b.name, b.id] }, { include_blank: "- Pilih Brand -" }) %>
    </div>


    <div class="mt-2">
      <%= form.label :model, style: "display: block" %>
      <%= form.text_field :model, class: 'border' %>
    </div>

    <div class="mt-2">
      <%= form.label :year, style: "display: block" %>
      <%= form.number_field :year, class: 'border' %>
    </div>

    <div class="mt-2">
      <%= form.label :overall_width, style: "display: block" %>
      <%= form.number_field :overall_width, class: 'border' %>
    </div>

    <div class="mt-2">
      <%= form.label :overall_height, style: "display: block" %>
      <%= form.number_field :overall_height, class: 'border' %>
    </div>

    <div class="mt-2">
      <%= form.label :overall_length, style: "display: block" %>
      <%= form.number_field :overall_length, class: 'border' %>
    </div>

    <div class="mt-2">
      <%= form.label :wheelbase, style: "display: block" %>
      <%= form.number_field :wheelbase, class: 'border' %>
    </div>

    <div class="mt-2">
      <%= form.label :tank_capacity, style: "display: block" %>
      <%= form.number_field :overall_width, class: 'border' %>
    </div>

    <div class="mt-2">
      <%= form.select(:company,
       [['PT', 'PT'],['Contoh 1', 'contoh 1'],['Tire Repair', 'tire_repair'],['Other', 'other']], {}, class:"border border-red-800 rounded text-sm") %>
    </div>
  </div>
