<p style="color: green"><%= notice %></p>

<% content_for :title, "Cars" %>

<div style="border: 2px solid black; padding: 10px; margin-bottom: 10px; display: flex; align-items: center;">
  <h1 style="color: black; margin: 0;">carhist</h1>
  <% if user_signed_in? %>
    <%= button_to "Logout", destroy_user_session_path, method: :delete, form: { style: "margin-left: 20px; margin-bottom: 0;" } %>
  <% end %>
</div>

<div id="cars">
  <%= link_to "New model", new_admin_car_model_path %>
  <table border="1" width="40%" style="border-collapse: collapse;">
            <tr>
                <th>No  </th>
                <th>Brand</th>
                <th>Model</th>
                <th>Year</th>
            </tr>
                    <% @car_models.each_with_index do |car_model, index| %>
                      <tr>
                        <td><%= index + 1 + (@car_models.current_page-1)*5 %></td>
                          <td><%= car_model.car_brand.name %></td>
                          <td><%= car_model.model %></td>
                          <td><%= car_model.year %></td>
                          <td>
                            <%= link_to "Edit", edit_admin_car_model_path(car_model) %>
                          </td>
                          <td>
                            <%= button_to "Delete", admin_car_model_path(car_model)  , method: :delete %>
                          </td>
                        </tr>
                    <% end %>
        </table>

</div>

<%= will_paginate @car_model %>
