<div>
  <%= link_to(admin_car_models_path, class: 'text-red-800') do %>
    &larr; <%= t('views.cars.back') %>
  <% end %>
</div>

<% content_for :title, "Showing car model" %>

<div class="md:w-2/3 w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>

  <h1 class="font-bold text-4xl">Showing car model</h1>

  <div>
    Car model Name: <%= @car_model.model %>
  </div>
  
  <div>
    Category: <%= @car_model.year %>
  </div>
</div>
