<%= form_with(model: [@car, @car_maintenance], class: "contents") do |form| %>
  <% if car_maintenance.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(car_maintenance.errors.count, "error") %> prohibited this car_maintenance from being saved:</h2>

      <ul class="list-disc ml-6">
        <% car_maintenance.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mt-2">
    <div><%= t('views.car_maintenances.new.name') %></div>
    <div>
      <%= form.select(:maintenance_type,
       [['Oil Change', 'oil_change'],['AC Repair', 'ac_repair'],['Tire Repair', 'tire_repair'],['Other', 'other']], {}, class:"border border-red-800 rounded") %>
    </div>
  </div>

  <div class="mt-2">
    <div><%= t('views.car_maintenances.new.title') %></div>
    <div>
      <%= form.text_field(:title, class: "border border-red-800 rounded") %>
    </div>
  </div>

  <div class="mt-2">
    <div><%= t('views.car_maintenances.new.time') %></div>
    <div>
      <%= form.date_select(:performed_at, {}, class:"border border-red-800 rounded") %>
    </div>
  </div>

  <div class="mt-2">
    <div><%= t('views.car_maintenances.new.description') %></div>
    <div>
      <%= form.text_area(:description, class: 'border border-red-800 w-80 h-80 rounded') %>
    </div>

    <div class="mt-8">
      <%= form.submit t(@car_maintenance.new_record? ? 'views.car_maintenances.new.create' : 'views.car_maintenances.edit'),
        class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-red-800 hover:bg-red-500 text-white inline-block font-medium cursor-pointer" %>
    </div>
  </div>
<% end %>
