<% content_for :title, "Car maintenances" %>

<div class="w-full"
  data-controller="maintenance--filter"
  data-action="page-changed@window->maintenance--filter#changePage"
  data-maintenance--filter-url-value="<%= car_car_maintenances_path(@car, page: '--paging', q: '--keyword', categories: '--categories') %>"
  data-maintenance--filter-pdf-url-value="<%= export_pdf_car_car_maintenances_path(@car, q: '--keyword', categories: '--categories') %>"
  data-maintenance--filter-initial-sort-value="created_at"
  >
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex gap-x-3">
    <div>
      <%= link_to(cars_path, class: 'text-red-800') do %>
        &larr; <%= t('views.cars.back') %>
      <% end %>
    </div>

    <div>
      <%= link_to(car_maintenance_reports_path(@car), class: 'text-red-800') do %>
        Generated PDF reports
      <% end %>
    </div>
  </div>

  <div class="flex justify-between items-center mt-5">
    <h1 class="font-bold text-xl"> <%= t('views.car_maintenances.title') %> <%= @car.brand_name %> (<%= @car.name %>)</h1>
  </div>
  <div class="flex justify-between items-center mt-4">
    <%= link_to t('views.car_maintenances.name'), new_car_car_maintenance_path(@car), class: "rounded-md px-3.5 py-2.5 bg-red-800 hover:bg-red-500 text-white block font-medium" %>
    <%= link_to("Car fuelings", car_car_fuelings_path(@car), class: "bg-red-800 px-2 py-2 text-white rounded") %>
  </div>

  <% if @car_maintenances.any? %>
    <div class="flex justify-end mt-3">
      <div data-controller="dropdown" class="relative inline-block text-left">
        <div data-action="click->dropdown#toggle">
          <span class="bg-red-800 px-3 py-2 rounded text-white">
            Actions
            <%= image_tag "arroww.svg", class: "g-red-800 w-2 h-2 inline" %>
          </span>
        </div>
        <div data-dropdown-target="drop" class="hidden absolute z-50 mt-2 right-0 w-36 bg-white border border-red-700 rounded shadow-lg">
          <%= link_to('Generate PDF', '#',
              class: 'block w-full text-left px-4 py-2 text-sm text-white bg-red-800 hover:bg-red-700 rounded',
              data: { action: 'click->maintenance--filter#generatePdf click->dropdown#hide' }) %>
        </div>
      </div>
    </div>

    <%= form_tag car_car_maintenances_path(@car), method: :get, local: true do %>
      <div class="flex justify-between items-top mt-3">
        <div>
          <div>categories</div>
          <div>
            <% CarMaintenance::MAINTENANCE_TYPES.each do |m| %>
              <div>
                <%= check_box_tag('categories[]', m[:name], true, id: "category_#{m[:name]}", data: { "maintenance--filter-target": "category", action: "change->maintenance--filter#changeFilter" } ) %> <%= m[:label] %>
              </div>
            <% end %>
          </div>
        </div>
        <div class="mr-2">
          <%= text_field_tag :q, params[:q], placeholder: t('views.car_maintenances.column'), class: "border border-red-800", autocomplete: "off", data: { "maintenance--filter-target": "search", action: "maintenance--filter#changeFilter" } %>
        </div>
      </div>
    <% end %>
  <% end %>

  <%= render(partial: "car_maintenances/maintenances", locals: { car_maintenances: @car_maintenances }) %>
</div>
