<% content_for :title, "Car maintenances" %>

<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-xl"> <%= t('views.car_maintenances.title') %> <%= @car.brand_name %> (<%= @car.name %>)</h1>
    <%= link_to t('views.car_maintenances.name'), new_car_car_maintenance_path(@car), class: "rounded-md px-3.5 py-2.5 bg-red-800 hover:bg-red-500 text-white block font-medium" %>
  </div>
  <div class="flex justify-end mt-3">
    <%= link_to("Car fuelings", car_car_fuelings_path(@car), class: "bg-red-800 px-2 py-2 text-white rounded") %>
  </div>
  <h1 class="flex justify-end mt-3">
    <%= link_to 'Generate PDF', export_pdf_car_car_maintenances_path(@car), method: :get, class: 'bg-red-800 px-2 py-2 rounded text-white' %>
  </h1>
  <%= form_tag car_car_maintenances_path(@car), method: :get, local: true do %>
    <div class="flex justify-end items-center mt-3">
      <div class="mr-2">
        <%= text_field_tag :search, params[:search], placeholder: t('views.car_maintenances.column'), class: "border border-red-800" %>
      </div>
      <div>
        <%= submit_tag t('views.car_maintenances.button'),
          class: "rounded-md bg-red-800 text-white px-4 py-1 rounded-r-md hover:bg-red-500 font-medium" %>
      </div>
    </div>
  <% end %>
  <div id="car_maintenances" class="min-w-full divide-y divide-gray-200 space-y-5 mt-4">
    <% if @car_maintenances.any? %>
        <table class="w-full border border-red-500">
          <thead>
            <tr class="py-2 bg-red-100 text-red-800">
              <th class="px-4 py-3 text-left"><%= t('views.car_maintenances.date') %></th>
              <th class="px-4 py-3">Title</th>
              <th class="px-4 py-3 text-center"><%= t('views.car_maintenances.type') %></th>
              <th class="px-4 py-3 text-center"><%= t('views.car_maintenances.photos') %></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @car_maintenances.each do |car_maintenance| %>
              <tr>
                <td class="px-4 py-3"><%= car_maintenance.performed_at&.strftime('%d %b %Y') %></td>
                <th class="px-4 py-3 text-red-800"><%= link_to car_maintenance.title, car_car_maintenance_path(@car, car_maintenance) %></th>
                <td class="px-4 py-3 text-center"><%= car_maintenance.maintenance_type.gsub('_', ' ') %></td>
                <td class="px-4 py-3 text-center text-red-800"><%= link_to("#{car_maintenance.history_images.count} photos", car_car_maintenance_history_images_path(@car, car_maintenance), class: 'pointer text-red-800') %></td>
                <td class="px-4 py-3 text-center space-x-2 flex justify-center">
                  <%= link_to edit_car_car_maintenance_path(@car, car_maintenance), class: "flex items-center justify-center" do %>
                    <img src="https://www.svgrepo.com/show/42233/pencil-edit-button.svg" alt="Edit" class="w-4 h-4 inline" />
                  <% end %>
                  <%= link_to t('views.car_maintenances.show'), car_car_maintenance_path(@car, car_maintenance),
                    class: "w-full sm:w-auto text-center rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
                  <%= button_to t('views.car_maintenances.destroy'), car_car_maintenance_path(@car, car_maintenance), method: :delete,
                    class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 text-white bg-red-800 hover:bg-red-500 font-medium cursor-pointer", data: { turbo_confirm: "Are you sure?" } %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
    <% else %>
      <p class="text-center my-10">No car maintenances found.</p>
    <% end %>
  </div>

  <%= will_paginate(@car_maintenances) %>
</div>
