<% content_for :title, "Car maintenances" %>

<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-xl">Car maintenances of <%= @car.brand_name %> (<%= @car.name %>)</h1>
    <%= link_to "New car maintenance", new_car_car_maintenance_path(@car), class: "rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white block font-medium" %>
  </div>
  <%= form_tag car_car_maintenances_path(@car), method: :get, local: true do %>
    <div class="ml-198">
      <%= text_field_tag :search, params[:search], placeholder: "Search by car name...", class: "border-3 border-blue-600" %>
      <%= submit_tag "Search",
          class: "rounded-md mt-3 bg-blue-600 text-white px-4 py-1 rounded-r-md hover:bg-blue-500 font-medium" %>
    </div>
  <% end %>
  <div id="car_maintenances" class="min-w-full divide-y divide-gray-200 space-y-5 mt-4">
    <% if @car_maintenances.any? %>
      <% @car_maintenances.each do |car_maintenance| %>
        <div class="flex flex-col sm:flex-row justify-between items-center pb-5 sm:pb-0">
          <div><%= car_maintenance.performed_at&.strftime('%d %b %Y') %></div>
          <div><%= car_maintenance.maintenance_type.gsub('_', ' ') %></div>
          <div><%= link_to("#{car_maintenance.history_images.count} photos", car_car_maintenance_history_images_path(@car, car_maintenance), class: 'pointer text-red-800') %></div>
          <div class="w-full sm:w-auto flex flex-col sm:flex-row space-x-2 space-y-2">
            <%= link_to "Show", car_car_maintenance_path(@car, car_maintenance), class: "w-full sm:w-auto text-center rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
            <%= link_to "Edit", edit_car_car_maintenance_path(@car, car_maintenance), class: "w-full sm:w-auto text-center rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
            <%= button_to "Destroy", car_car_maintenance_path(@car, car_maintenance), method: :delete, class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 text-white bg-red-800 hover:bg-red-500 font-medium cursor-pointer", data: { turbo_confirm: "Are you sure?" } %>
          </div>
        </div>
      <% end %>
    <% else %>
      <p class="text-center my-10">No car maintenances found.</p>
    <% end %>
  </div>

  <%= will_paginate(@car_maintenances) %>
</div>
