<h2><%= link_to "Model", "/cars" %>
&nbsp &nbsp
<%= link_to "Brand", "/car_brands" %></h2>

<p style="color: green"><%= notice %></p>

<% content_for :title, "Car brands" %>

<h1>Car brands</h1>

<div id="car_brands">
  <table border="1" width="30%" style="border-collapse: collapse;">
    <tr>
      <th>No</th>
      <th>Brand Name</th>
    </tr>
      <%
      no=0
      @car_brand.each_with_index do |car_brand, index| %>
        <tr>
          <td>
            <%= index + 1 + (@car_brand.current_page-1)*5 %>
          </td>
          <td><%= car_brand.name %></td>
          <td>
            <%= link_to "Edit", edit_car_brand_path(car_brand) %>
          </td>
          <td> 
            <%= button_to "Delete", car_brand  , method: :delete %>
          </td>
        </tr>
      <% end %>
  </table>
</div>

<%= link_to "New car brand", new_car_brand_path %>