<div class="mt-2">
  <div><%= f.label(:description, t(".description")) %></div>
  <div><%= f.text_area(:description, class: "border w-full h-64") %></div>
</div>
<div class="mt-2">
  <div><%= f.label(:status, t(".status")) %></div>
  <div>
    <%= f.select(:status, [
      [t('model.car_sell.status_desc_not_for_sale'), "not_for_sale"],
      [t('model.car_sell.status_desc_for_sale'), "for_sale"],
      [t('model.car_sell.status_desc_sold'), "sold"],
    ], {}, class: "w-full lg:w-fit") %>
  </div>
</div>
<div class="mt-2">
  <div><%= f.label(:price, t(".price")) %></div>
  <div><%= f.text_field(:price, class: "border w-full lg:w-fit") %></div>
</div>

<div class="mt-2">
  <div><%= f.label(:price, t(".phone")) %></div>
  <div><%= f.text_field(:phone, class: "border w-full lg:w-fit") %></div>
</div>

<div class="mt-3">
  <div class="flex items-center gap-x-3">
    <div><%= f.check_box(:show_service_history) %></div>
    <div><%= t(".show_service_history") %></div>
  </div>
</div>

<%= render(partial: "car_sells/address") %>
