<div>
  <div class="flex items-center gap-x-3">
    <%= link_to(car_path(@car), class: 'text-[#1C1424] underline') do %>
      &larr; <%= t('common.button.back') %>
    <% end %>

    <div>
      <%= button_to("Delete listing", car_car_sells_path(@car), method: :delete, data: { turbo_confirm: 'Are you sure?'}) %>
    </div>
  </div>
  <h1 class="text-4xl mt-6"><%= t(".sell_car") %></h1>

  <%= form_with(model: @car_sell, url: car_car_sells_path(@car)) do |f| %>
    <%= render(partial: "car_sells/form", locals: { f: }) %>

    <div class="mt-5">
      <%= f.submit(t(".update"), class: "w-full lg:w-fit px-2 py-2 shadow rounded bg-[#1C1424] text-white") %>
    </div>
  <% end %>

  <% if @car_sell.status == "for_sale" %>
    <div class="mt-5 flex items-center gap-x-2" data-controller="copy-clipboard">
      <div>
        Public Link:
      </div>
      <div class="lg:w-1/2">
        <%= text_field_tag("x", car_for_sale_url(@car_sell.token), readonly: true, data: { "copy-clipboard-target": "textfield" }, class: "border w-full") %>
      </div>
      <div>
        <a class="bg-[#1C1424] text-white px-2 py-2 rounded shadow text-sm" href="#" data-action="click->copy-clipboard#copy">
          <span data-copy-clipboard-target="indicator">Copy</span>
        </a>
      </div>
      <div>
        <%= link_to(car_for_sale_url(@car_sell.token), target: "_blank") do %>
          <%= image_tag("show.svg", class: "w-8") %>
        <% end %>
      </div>
    </div>
    <div class="text-gray-500 italic text-sm">
      bagikan link ini, ke social media supaya temen2 mu yg lagi nyari mobil tau.
    </div>
  <% end %>

  <div class="mt-5">
    <%= render(partial: "car_sells/photos") %>
  </div>
</div>
