<div id="<%= dom_id car %>" class="mt-5 p-4 rounded-lg border border-[#6D4AFF] text-white space-y-3">

  <div class="flex gap-2">
    <span class="font-medium text-[#6D4AFF]"><%= t(".name") %>:</span>
    <span><%= car.name %></span>
  </div>

  <div class="flex gap-2">
    <span class="font-medium text-[#6D4AFF]"><%= t(".year") %>:</span>
    <span><%= car.year %></span>
  </div>

   <div class="flex gap-2">
    <span class="font-medium text-[#6D4AFF]"><%= t(".year") %>:</span>
    <span><%= car.image %></span>
  </div>

</div>
