<h2><%= link_to "Model", "/cars" %>
&nbsp &nbsp
<%= link_to "Brand", "/car_brands" %></h2>

<p style="color: green"><%= notice %></p>

<% content_for :title, "Cars" %>

<h1>Cars</h1>

<div id="cars">
  <% @cars.each do |car| %>
    <table style="width:11%">
      <tr>
        <td><p><strong>Brand:</strong> <%= car.brand %></td>
      </tr>
      <tr>
        <td><p><strong>Model:</strong> <%= car.model %></td>
      </tr>
      <tr>
        <td><p><strong>Year:</strong> <%= car.year %></td>
      </tr>
    </table>
    
    <p>
      <%= link_to "Show this car", car %>
    </p>
    <hr>
  <% end %>
</div>

<%= link_to "New car", new_car_path %>

<%= will_paginate @car %>
