<h2><%= link_to "Model", "/cars" %>
&nbsp &nbsp
<%= link_to "Brand", "/car_brands" %></h2>

<p style="color: green"><%= notice %></p>

<% content_for :title, "Cars" %>

<h1>Cars</h1>

<div id="cars">
  <table border="1" width="40%" style="border-collapse: collapse;">
            <tr>
                <th>No  </th>
                <th>Model</th>
                <th>Year</th>
            </tr>    
                    <% @cars.each_with_index do |car, index| %>
                      <tr>
                        <td><%= index + 1 + (@cars.current_page-1)*5 %></td>
                          <td><%= car.model %></td>
                          <td><%= car.year %></td>
                          <td>
                            <%= link_to "Edit", edit_car_path(car) %>
                          </td>
                          <td> 
                            <%= button_to "Delete", car  , method: :delete %>
                          </td>                         
                        </tr>
                    <% end %>
        </table>
        
</div>

<%= link_to "New car", new_car_path %>

<%= will_paginate @car %>
