<p style="color: green"><%= notice %></p>
<p style="color: red"><%= alert %></p>

<% content_for :title, "Cars" %>

<h1 class="text-2xl">
  <%= t('cars.index.title') %>
</h1>

<div class="mt-4">
<% if (current_user.company.plan == 'free' && current_user.company.cars.count < 2) || (current_user.company.plan == 'paid' && current_user.company.cars.count < 6) %>
    <%= link_to new_car_path(@car) do %>
      <%= image_tag "add.svg", alt: "Add", class: "w-8 h-8 inline" %>
    <% end %>
  <% end %>
</div>
<div class="mt-4 overflow-x-scroll">
  <% if @cars.any? %>
    <table class="w-full border border-red-500">
      <thead>
        <tr class="bg-red-100 text-red-800 font-semibold">
          <th class="py-2 px-4 text-center">No</th>
          <th class="py-2 px-4 text-center"><%= t('cars.index.column_name') %></th>
          <th class="py-2 px-4 text-center">Brand & Model</th>
          <th class="py-2 px-4 text-center">Maintenance</th>
          <th class="py-2 px-4 text-center">Fuelings</th>
          <th class="py-2 px-4 text-center">Action</th>
        </tr>
      </thead>
      <tbody>
        <% if user_signed_in? %>
          <% @cars.each_with_index do |car, index| %>
            <tr>
              <td class="text-center py-2 px-4"><%= index + 1 %></td>
              <td class="text-center py-2 px-4">
                <%= link_to car.name, car_path(car.id), class: "underline text-red-600" %>
              </td>
              <td class="text-center py-2 px-4">
                <%= car.car_model.car_brand.name %> <%= car.car_model.model %> <%= car.car_model.year %>
              </td>
              <td class="text-center py-2 px-4">
                <%= link_to t('cars.index.maintenance_history'), car_car_maintenances_path(car), class: 'underline text-red-700' %>
              </td>
              <td class="text-center py-2 px-4">
                <%= link_to "Fuelings", car_car_fuelings_path(car), class: 'underline text-red-700' %>
              </td>
              <td class="text-center py-2 px-4 space-x-2 flex justify-center">
                <%= link_to edit_car_path(car), class: "text-blue-600 hover:underline" do %>
                  <%= image_tag "edit.svg", class: "w-4 h-4 inline mt-1" %>
                <% end %>
                <%= link_to car_path(car.id), class: "flex items-center justify-center" do %>
                  <%= image_tag "show.svg", class: "w-4 h-4 inline" %>
                <% end %>
                <%= button_to car_path(car), method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "mt-1" do %>
                  <%= image_tag "trash.svg", class: "w-5 h-5 inline" %>
                <% end %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <h2 class="text-red-700 font-semibold">You have no cars, please add</h2>
  <% end %>
</div>
