<div>
  <%= link_to(cars_path, class: 'text-white') do %>
    &larr; <%= t('views.cars.back') %>
  <% end %>
</div>

<% content_for :title, "New car" %>

<h1 class="text-2xl text-[#6D4AFF]"><%= t('views.cars.new') %></h1>
<%= form_with model: @car, url: cars_path(@car), local: true do |form| %>
  <%= render 'form', car: @car, form: form %>
  <div class="mt-2">
    <%= form.submit t('views.cars.create'), class: "bg-[#6D4AFF] text-white px-4 py-2 rounded-md hover:bg-[#5b3ce0] transition" %>
  </div>
<% end %>
<br>
