<% content_for :title, "New Car" %>

<div class="mb-4">
  <%= link_to cars_path,
        class: "inline-flex items-center text-[#6D4AFF] hover:underline font-medium" do %>
    <span class="text-lg">&larr;</span>
    <span class="ml-1"><%= t('views.cars.back') %></span>
  <% end %>
</div>

<h1 class="text-2xl font-semibold text-white mb-4">
  <span class="text-[#6D4AFF]">Create</span> New Car
</h1>

<div class="p-5 border border-[#6D4AFF] rounded-xl shadow-sm bg-[#1A1A22]/50 backdrop-blur-md">
  <%= form_with model: @car, url: cars_path(@car), local: true do |form| %>

    <%= render 'form', car: @car, form: form %>

    <div class="mt-6">
      <%= form.submit t('views.cars.create'),
            class: "bg-[#6D4AFF] hover:bg-[#5A3EDF] transition px-5 py-2.5
                    rounded-lg text-white font-medium shadow-sm" %>
    </div>

  <% end %>
</div>
