<%= form_with(model: [:admin, @user], local: true) do |form| %>
    <div>
      <%= form.label :email %>
      <%= form.text_field :email %>
    </div>
  
    <div>
        <%= form.label :plan %><br>
        <%= form.select :plan, options_for_select([["Free", "free"], ["Paid", "paid"]], @user.plan) %>
    </div>

    

    <div>
        <%= link_to "Back", admin_users_path %>
    </div>

    <div>
      <%= form.submit "Save" %>
    </div>
  <% end %>
  