<%= form_with(model: [:admin, @user], local: true) do |form| %>
    <div>
      <%= form.label :email %>
      <%= form.text_field :email %>
    </div>

    <div>
        <%= link_to "Back", admin_users_path %>
    </div>

    <div>
      <%= form.submit "Save" %>
    </div>
  <% end %>
