<% content_for :title, @car_model.model %>

<h1 class="text-2xl"><%= @car_model.model %></h1>
<div class="text-2xl"><%= @car_model.year %></div>
<div class="text-2xl"><%= @car_model.overall_width %></div>
<div class="text-2xl"><%= @car_model.overall_height %></div>
<div class="text-2xl"><%= @car_model.overall_length %></div>
<div class="text-2xl"><%= @car_model.wheelbase %></div>
<div class="text-2xl"><%= @car_model.tank_capacity %></div>

</div>
