<html>
  <head>
    <%= javascript_include_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
  </head>
  <body>
    <div>
      <div class="bg-red-800 text-white py-5 px-3">
        <h2 class="text-4xl">Carhist Admin</h2>
      </div>
      <div class="flex">
        <div class="w-80 py-3 px-2 bg-gray-600 min-h-80">
          <div>
            <%= link_to('Brands', admin_car_brands_path, class: 'underline text-white') %>
          </div>
          <div>
            <%= link_to('Models', admin_car_models_path, class: 'underline text-white') %>
          </div>
          <div>
            <%= link_to('Users', '/admin/users', class: 'underline text-white') %>
          </div>
          <div>
            <%= link_to('Car Shops', admin_car_shops_path, class: 'underline text-white') %>
          </div>
          <div>
            <% if user_signed_in? %>
              <%= button_to "Logout", destroy_user_session_path, method: :delete, class: 'mt-5 underline text-white' %>
            <% end %>
          </div>
        </div>
        <div class="w-full px-5 py-5">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
