<html>
  <head>
    <%= javascript_include_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
  </head>
  <body>
    <div>
      <div class="bg-red-800 text-white py-5 px-3">
        <h2 class="text-4xl">Carhist</h2>
      </div>
      <div class="flex">
        <div class="w-80 py-3 px-2 bg-gray-600 min-h-80">
          <div>
            <%= link_to('Cars', cars_path, class: 'underline text-white') %>
          </div>

          <% @cars.each do |car| %>
            <div>
              <%= link_to( car.name, car_car_maintenances_path(car), class: 'underline text-white ml-5' ) %>
            </div>
          <% end %>
          <div>
            <% if user_signed_in? %>
              <%= button_to "Logout", destroy_user_session_path, method: :delete, class: 'mt-10 underline text-white' %>
            <% end %>
          </div>
        </div>
        <div class="w-full px-5 py-5">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
