<html>
  <head>
    <%= javascript_include_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "carhist", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "datepicker", "data-turbo-track": "reload" %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      <% if (title = yield(:title)).present? %>
        <%= title %>
      <% else %>
        Carhist App
      <% end %>
    </title>
  </head>
  <body>
    <div class="bg-[#2A1C33]">
      <div class="flex flex-wrap items-center justify-between bg-[#342a3b] text-white py-5 px-3">
        <div data-controller="sidebar" class="block lg:hidden">
          <div class="w-8 cursor-pointer">
            <svg data-sidebar-target="openIcon" data-action="click->sidebar#toggle" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" aria-label="Open menu"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M4 18L20 18" stroke="#ffffff" stroke-width="2" stroke-linecap="round"></path> <path d="M4 12L20 12" stroke="#ffffff" stroke-width="2" stroke-linecap="round"></path> <path d="M4 6L20 6" stroke="#ffffff" stroke-width="2" stroke-linecap="round"></path> </g></svg>
            <span data-sidebar-target="closeIcon" data-action="click->sidebar#toggle" class="hidden text-4xl" aria-label="Close menu">&times;</span>
          </div>

          <div data-sidebar-target="menu" class="hidden absolute w-full bg-[#1C1424] left-0 top-20 text-red-800 border border-gray-800 pb-5">
            <% if user_signed_in? %>
              <div class="py-2">
                <%= link_to("Dashboard", dashboards_path, class: 'underline text-white ml-3' )%>
              </div>
              <% current_user.company.cars.each do |car| %>
                <div class="py-2">
                  <%= link_to(car.name, car_path(car), class: 'underline text-gray-200 ml-3') if car.persisted? %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>


        <div>
          <%= link_to('Carhist', '/', class: 'text-xl lg:text-4xl') %>
        </div>

        <% if user_signed_in? %>
          <div data-controller="account">
            <div data-btn="right-top-menu" data-action="click->account#toggle" class="rounded-full bg-white w-12 h-12 flex items-center justify-center cursor-pointer">
              <% if current_user.image %>
                <%= image_tag current_user.image.url, class: "rounded-full w-12 h-12 object-cover" %>
              <% else %>
                <div class="text-2xl text-[#1C1424]">
                  <%= current_user.email[0].upcase %>
                </div>
              <% end %>
            </div>
            <div data-account-target="menu" class="hidden absolute bg-[#1C1424] border border-gray-300 w-full lg:w-60 right-0 lg:right-1 py-3 px-3 text-gray-200">
              <div>
                <%= link_to("Setting", api_keys_path) %>
              </div>
              <% if current_user.admin? %>
                <div class="mt-4">
                  <%= link_to("admin", '/admin') %>
                </div>
              <% end %>
              <div class="mt-4">
                <%= link_to(current_user.email, edit_profiles_path) %>
              </div>
              <div class="mt-4">
                <%= button_to "Logout", destroy_user_session_path, method: :delete %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <div class="flex">
        <nav class="lg:w-[350px] bg-[#1C1424] text-white py-6 px-4 space-y-2 min-h-screen lg:block hidden">
          <div class="bg-[#2A1C33] rounded-md mx-2 mb-4 p-3">
            <%= render(partial: "layouts/company_name", formats: [ :html ]) %>
          </div>

          <%= link_to dashboards_path, class: "flex items-center gap-3 px-3 py-2 rounded-lg hover:bg-[#2A1C33] #{dashboard_page? ? 'bg-[#2A1C33]' : ''}" do %>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-label="Dashboard" class="w-5 h-5"><path fill-rule="evenodd" d="M2.25 2.25a.75.75 0 000 1.5H3v10.5a3 3 0 003 3h1.21l-1.172 3.513a.75.75 0 001.424.474l.329-.987h8.418l.33.987a.75.75 0 001.422-.474l-1.17-3.513H18a3 3 0 003-3V3.75h.75a.75.75 0 000-1.5H2.25zm6.04 16.5l.5-1.5h6.42l.5 1.5H8.29zm7.46-12a.75.75 0 00-1.5 0v6a.75.75 0 001.5 0v-6zm-3 2.25a.75.75 0 00-1.5 0v3.75a.75.75 0 001.5 0V9zm-3 2.25a.75.75 0 00-1.5 0v1.5a.75.75 0 001.5 0v-1.5z" clip-rule="evenodd"></path>
            <span>Dashboard</span>
          <% end %>

          <%= link_to cars_path, class: "flex items-center gap-3 px-3 py-2 rounded-lg hover:bg-[#2A1C33] #{car_page? ? 'bg-[#2A1C33]' : ''}" do %>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-label="My Car" class="w-5 h-5"><path fill-rule="evenodd" d="M11.984375 5.9863281 A 1.0001 1.0001 0 0 0 11.744141 6.0195312C10.315567 6.0421488 8.7557432 6.0886902 7.4511719 6.140625C5.5505609 6.2167493 3.8518115 7.3671954 3.0800781 9.1054688L3.0820312 9.1054688L1.4980469 12.667969C0.62003321 12.896739 -2.8905437e-16 13.686733 0 14.599609L0 18.433594C0 19.353594 0.62848438 20.155953 1.5214844 20.376953L3.2617188 20.804688C3.7835537 22.085755 5.0399277 23 6.5 23C7.8831519 23 9.0777003 22.175306 9.6445312 21L21.355469 21C21.9223 22.175306 23.116848 23 24.5 23C25.985955 23 27.257527 22.051297 27.761719 20.734375L28.623047 20.451172C29.445047 20.182172 30 19.414781 30 18.550781L30 15.095703C30 14.157703 29.349594 13.343578 28.433594 13.142578C27.22033 12.875944 25.449323 12.529334 23.685547 12.236328L20.642578 7.859375C19.946151 6.8580116 18.827458 6.2238435 17.605469 6.1503906C16.440141 6.0806529 14.728428 6 13 6C12.76676 6 12.473083 6.0090167 12.220703 6.0117188 A 1.0001 1.0001 0 0 0 11.984375 5.9863281 z M 13 8C14.665572 8 16.343703 8.0782221 17.484375 8.1464844C18.092386 8.1830315 18.650427 8.4973634 19 9 A 1.0001 1.0001 0 0 0 19 9.0019531L21.085938 12L15.5 12L13 12L13 8 z M 15.5 12 A 1.5 1.5 0 0 0 17 10.5 A 1.5 1.5 0 0 0 15.5 9 A 1.5 1.5 0 0 0 14 10.5 A 1.5 1.5 0 0 0 15.5 12 z M 11 8.0332031L11 12L7.5 12L4.4296875 12L3.9335938 12.111328L4.9082031 9.9179688C5.3724697 8.8722419 6.3858609 8.1845476 7.53125 8.1386719C8.5879672 8.0966041 9.8111498 8.0600796 11 8.0332031 z M 7.5 12 A 1.5 1.5 0 0 0 9 10.5 A 1.5 1.5 0 0 0 7.5 9 A 1.5 1.5 0 0 0 6 10.5 A 1.5 1.5 0 0 0 7.5 12 z M 6.5 18C7.3402718 18 8 18.659728 8 19.5C8 20.340272 7.3402718 21 6.5 21C5.6597282 21 5 20.340272 5 19.5C5 18.659728 5.6597282 18 6.5 18 z M 24.5 18C25.340272 18 26 18.659728 26 19.5C26 20.340272 25.340272 21 24.5 21C23.659728 21 23 20.340272 23 19.5C23 18.659728 23.659728 18 24.5 18 z"></path></svg>
            <span>My Car</span>
          <% end %>

          <% if user_signed_in? && current_user.company.present? %>
            <% current_user.company.cars.where.not(id: nil).each do |car| %>
              <%= link_to car_path(car),
                class: "flex items-center ml-8 gap-2 px-2 py-1 text-sm rounded-md hover:bg-[#2A1C33] #{active_car_page?(car.id) ? 'bg-[#2A1C33]' : ''}" do %>
                <span class="text-base">&#10551;</span>
                <span><%= car.name %></span>
              <% end %>
            <% end %>
          <% end %>

          <%= link_to car_shops_path, class: "flex items-center gap-3 px-3 py-2 rounded-lg hover:bg-[#2A1C33] #{car_shop_page? ? 'bg-[#2A1C33]' : ''}" do %>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-label="Car Shops" class="w-5 h-5"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 259.761 259.761" xml:space="preserve"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <path d="M129.879,0C77.562,0,35,42.563,35,94.882c0,31.605,29.071,81.486,41.569,101.465c10.282,16.436,21.32,32.062,31.079,44 c15.871,19.414,20.328,19.414,22.232,19.414c1.827,0,6.105,0,21.921-19.42c9.784-12.014,20.831-27.637,31.106-43.988 c12.584-20.027,41.854-70.006,41.854-101.471C224.761,42.563,182.198,0,129.879,0z M129.88,171.525 c-41.389,0-75.062-33.673-75.062-75.062c0-41.389,33.673-75.062,75.062-75.062c41.389,0,75.062,33.673,75.062,75.062 C204.942,137.852,171.269,171.525,129.88,171.525z"></path> <path d="M184.678,67.66c-0.52,0-1.054,0.075-1.586,0.222l-6.027,1.659l-6.257-15.244c-1.773-4.319-7.014-7.834-11.683-7.834 h-58.573c-4.669,0-9.91,3.514-11.683,7.833l-6.25,15.225l-5.951-1.639c-0.532-0.146-1.066-0.222-1.586-0.222 c-2.849,0-4.916,2.176-4.916,5.174v3.555c0,3.499,2.848,6.347,6.347,6.347h0.682l-1.01,2.459 c-1.647,4.014-2.988,10.807-2.988,15.145v30.288c0,3.499,2.848,6.347,6.347,6.347h8.291c3.499,0,6.347-2.848,6.347-6.347v-7.563 h71.316v7.563c0,3.499,2.848,6.347,6.347,6.347h8.288c3.499,0,6.347-2.848,6.347-6.347v-30.288c0-4.338-1.341-11.131-2.988-15.145 l-1.01-2.459h0.767c3.499,0,6.347-2.848,6.347-6.347v-3.555C189.594,69.836,187.527,67.66,184.678,67.66z M87.17,79.288 l9.467-23.062c1.06-2.584,4.213-4.697,7.006-4.697h52.392c2.792,0,5.944,2.114,7.005,4.697l9.467,23.062 c1.061,2.584-0.357,4.697-3.149,4.697H90.32C87.528,83.985,86.11,81.872,87.17,79.288z M108.305,108.456 c0,1.396-1.143,2.539-2.539,2.539H87.782c-1.397,0-2.539-1.143-2.539-2.539v-8.631c0-1.396,1.143-2.539,2.539-2.539h17.984 c1.396,0,2.539,1.143,2.539,2.539V108.456z M174.263,108.456c0,1.396-1.143,2.539-2.539,2.539h-17.982 c-1.396,0-2.539-1.143-2.539-2.539v-8.631c0-1.396,1.143-2.539,2.539-2.539h17.982c1.396,0,2.539,1.143,2.539,2.539V108.456z"></path> </g> </g></svg></svg>
            <span>Car Shops</span>
          <% end %>

          <!--
          <%= link_to destroy_user_session_path, data: { turbo_method: :delete },
            class: "flex items-center gap-3 px-3 py-2 rounded-lg hover:bg-[#2A1C33]" do %>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5"><path stroke-linecap="round" stroke-linejoin="round" d="M15.75 15V18a3 3 0 01-3 3h-6a3 3 0 01-3-3V6a3 3 0 013-3h6a3 3 0 013 3v3m3 3h-9m0 0l3 3m-3-3l3-3" /></svg>
            <%= button_to "Sign Out", destroy_user_session_path, method: :delete %>
          <% end %>
          -->
        </nav>
        <div class="flex-1 w-full px-5 py-5 bg-gray-200">
          <%= render "shared/flash" %>
          <div id="flash_notice_stream" class="text-green-600">
          </div>
          <%= yield %>
        </div>
      </div>

    </div>
    <footer class="bg-[#342a3b] text-white text-center py-6">
      <div class="text-sm">Copyright &copy; by carhist.duruxignition.com 2026</div>
    </footer>
  </body>
</html>
