<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Carhist</title>
    <%= javascript_include_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "carhist", "data-turbo-track": "reload" %>
  </head>
  <body class="flex lg:items-center justify-center min-h-screen bg-white pt-30 lg:pt-0">
    <div class="w-full max-w-sm text-center">
      <%= yield %>
  </body>
</html>
