<html>
  <head>
    <%= javascript_include_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "carhist", "data-turbo-track": "reload" %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= render(partial: "layouts/analytic") %>
    <%= yield(:meta) %>
  </head>
  <title><%= content_for?(:title) ? yield(:title) : "Carhist" %> | Carhist</title>
  <body>

    <div>
      <div class="flex flex-wrap items-center justify-between bg-gray-300 text-red-800 py-5 px-3">
        <div>
          <%= link_to('Carhist', '/', class: 'text-xl lg:text-4xl') %>
        </div>
        <div>
          <%= link_to(t('views.car_shops.title'), "/public/car_shops", class: "mr-4") %>
          <%= link_to(t('views.car_models.title'), "/public/car_models", class: "mr-4") %>
          <%#= link_to(t('layout.welcome.marketplace'), "/marketplace", class: "mr-4") %>

          <% if user_signed_in? %>
            <%= link_to("Dashboard", dashboards_path) %>
          <% else %>
            <%= link_to("Sign in", new_user_session_path) %>
          <% end %>
        </div>
      </div>
      <div class="px-6 py-6 border border-white">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
