<html>
  <head>
    <%= javascript_include_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div>
      <div class="flex flex-wrap items-center justify-between bg-gray-300 text-red-800 py-5 px-3">
        <div>
          <%= link_to('Carhist', '/', class: 'text-xl lg:text-4xl') %>
        </div>
        <div>
          <%= link_to("Carshops", "/public/car_shops", class: "mr-4") %>
          <% if user_signed_in? %>
            <%= link_to("Dashboard", dashboards_path) %>
          <% else %>
            <%= link_to("Sign in", new_user_session_path) %>
          <% end %>
        </div>
      </div>
      <div>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
